/*Reset Styles*/
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.clear {
    clear: both;
}

/*Common*/
.content-allign {
    text-align: center;
    vertical-align: middle;
    line-height: normal; 
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

#content {
    width: 100%;
    height: 100%;
    background: #5B2484;
}

.selected {
    z-index: 1000!important;
}

/*Question block*/
.question{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background: #5B2484;
    border-bottom: solid 1px gray;
    position: absolute;
    z-index: 0;
}

.question p{
    font-size: 20px;
    color: #fff; 
}

.question i{
    font-size: 12px;
    color: #8C52B9;
}

/*Answer block*/
.answer {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 0;

}

.answer .short{
    min-height: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background: #5B2484;
}

.answer .long {
    background-color: #fff;
    padding: 20px 20px 0 20px;
    font-style: italic;
}

.answer .bonus {
    background-color: #fff;
    padding: 20px 20px 0 20px;
}

/*Bonus block*/
.bonus[data-type] li:before{
    font-family: 'FontAwesome';
    margin:0 5px 0 -15px;
}

.bonus[data-type='toDo'] li:before{
    content: '\f10d';
}

.bonus[data-type='didYouKnow'] li:before{
    content: '\f128';
}

/*End chapter block*/
.end-chapter {
    height: 100%;
    width: 100%;
    position: absolute;
}

.end-chapter .title{
    width: 100%;
    height: 20%;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background: #5B2484;
    border-bottom: solid 1px gray;
}

.end-chapter .content{
    height: 60%;
    font-size: 20px;
    width: 100%;
    color: #fff;
    padding: 10px;
    background: #5B2484;
    border-bottom: solid 1px gray;
}

.end-chapter .icons{
    height: 20%;
    background: #5B2484;
}

.end-chapter .icons i{
    font-size: 30px;
    color: #fff;
}

.end-chapter .icons .block {
    width: 30%;
    display: inline-block;
}

/*List styles*/
.simpleList li,
.list li{
    list-style: circle;
}

.simpleOList li,
.olist li{
    list-style: decimal;
}